services:
  api: &svc
    build:
      context: .
      dockerfile: Dockerfile
      target: api
    depends_on:
      - mariadb
      - redis
    env_file: .env
    image: easyminer-backend:latest
    ports:
      - "8000:8000"

  worker:
    <<: *svc
    build:
      target: worker
    image: easyminer-backend-worker:latest
    ports: []

  mariadb:
    environment:
      MYSQL_DATABASE: easyminer
      MYSQL_PASSWORD: easyminer
      MYSQL_ROOT_PASSWORD: easyminer
      MYSQL_USER: easyminer
    image: mariadb:latest
    ports:
      - "3306:3306"

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
